.wrapper{
    width: 900px;
    height: 2000px;
    background-color: black;
}
.header{
    width: 900px;
    height: 60px;
    background-color: aqua;
}
.smallpart{
    width: 190px;
    height: 60px;
    background-color: brown;
    float: left;
}
.bigpart{
    width: 700px;
    height: 60px;
    background-color: blue;
    float: right;
}

.banner{
    width: 600px;
    height: 60px;
    background-color: brown;
    padding: 45px;
}